@media (width>=768px) {
  .linput {
    width: 800px;
    height: 45px;
    border: 0px white none;
    outline: none;
    cursor: pointer;
  }
  .mainContainer {
    padding: 10px;
    margin: 70px;
    text-align: center;
  }
  .searchContainer {
    box-shadow: 0px 4px 16px 0px #bfbfbf;
    align-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 15px;
  }
}

.googleIcon {
  height: 100px;
  width: 300px;
}

.searchIcon {
  height: 25px;
  width: 25px;
}
.contan {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.arrowIcon {
  height: 25px;
  width: 25px;
}
input {
  width: 500px;
  height: 45px;
  border: 0px white none;
  outline: none;
  cursor: pointer;
}
.searchContainer {
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  align-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 30px;
  border-radius: 15px;
}

.mainContainer {
  padding: 10px;
  text-align: center;
}
